@charset "UTF-8";
@import './reset/reset.css';
.card {
  cursor: pointer;
}

.pdef {
  padding: 1rem;
}
.pdef-x {
  padding: 0 1rem 0 1rem;
}
.pdef-y {
  padding: 1rem 0 1rem 0;
}

.text-dark {
  color: #111;
}

.text-light {
  color: #fff;
}

.bg-dark {
  background-color: #111;
}

.bg-light {
  background-color: #fff;
}

.header-caption {
  position: relative;
  z-index: 1;
  background-color: #0000FF;
  border-top: 0.2rem solid #0000FF;
}
.header-caption::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.header-caption .title {
  flex: 1;
  font-size: 1.6rem;
  font-style: italic;
}
.header-caption img {
  max-width: 600px;
  width: 100%;
  height: 20px;
}
.header-caption-white {
  color: #0000FF;
  border: none;
  background-color: #fff;
}
.header-caption-blue {
  background-color: #0000FF;
  color: #fff;
}

.btn-watch {
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  outline: 0.05rem solid #fff;
}
.btn-watch:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.btn-discover {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2rem;
  background-color: #0000FF;
  color: #fff;
  text-align: center;
  border-radius: 20rem;
  text-transform: uppercase;
}
.btn-discover:hover {
  background-color: hsla(230, 93%, 58%, 0.9);
  color: #fff;
}

.cookies__ct {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0.2rem;
  background-color: #fff;
  z-index: 9;
  border: 0.1rem solid #0000FF;
}
.cookies__ct .cookies__caption--title {
  max-width: 562px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
}
.cookies__ct .cookies__caption .btn__handler {
  width: 6rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #0000FF;
  border: 0.1rem solid #0000FF;
  font-weight: 500;
}
.cookies__ct .cookies__caption .btn__handler:hover {
  background-color: #0000FF;
  color: #fff;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo,
.navbar .nav-toggle {
  padding: 0 1rem;
  font-size: 1.5rem;
}
.navbar .nav-list {
  display: none;
}
.navbar .nav-list.active {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  width: 100%;
  position: fixed;
  height: 100dvh;
  background-color: #0000FF;
  color: #fff;
  z-index: 8;
  top: 0;
}
.navbar .nav-list.active .navbar-caption {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.navbar .nav-list.active .nav-li, .navbar .nav-list.active .sign-container {
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid #fff;
}
.navbar .nav-list.active .nav-li > *, .navbar .nav-list.active .sign-container > * {
  font-weight: bold;
}
.navbar .nav-list.active .nav-li .chev-ico, .navbar .nav-list.active .sign-container .chev-ico {
  transform: rotate(-90deg);
}
.navbar .nav-list.active .nav-li .dropdown, .navbar .nav-list.active .sign-container .dropdown {
  display: none;
}
.navbar .nav-list.active .nav-li .dropdown .btn-close, .navbar .nav-list.active .sign-container .dropdown .btn-close {
  cursor: pointer;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.navbar .nav-list.active .nav-li .dropdown.active, .navbar .nav-list.active .sign-container .dropdown.active {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  position: absolute;
  gap: 1rem;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #000050;
}
.navbar .nav-list.active .nav-li .dropdown.active .droplink, .navbar .nav-list.active .sign-container .dropdown.active .droplink {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  outline: 1px solid #fff;
}
.navbar .nav-list .nav-hide {
  display: none;
}

.news__ct {
  position: relative;
  z-index: 1;
}
.news__ct::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.news__ct::before {
  background-image: url("/assets/img/background/background-2.webp");
  background-size: cover;
}
.news__ct--content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news__ct--content .card {
  position: relative;
  z-index: 1;
  display: grid;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  height: 160px;
}
.news__ct--content .card::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.news__ct--content .card:hover .card__caption .card__caption--title {
  text-decoration: underline;
}
.news__ct--content .card::before {
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}
.news__ct--content .card__img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.news__ct--content .card__img::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.news__ct--content .card__caption {
  padding: 1rem;
  background-color: #fff;
}
.news__ct--content .card__caption--title {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Limita a duas linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news__ct--content .card__caption--text {
  font-size: 0.9rem;
}
.news__ct--content .card__caption--ico {
  color: #0000FF;
  width: 18ppx;
  height: 18px;
}
.news__ct--content .card:nth-of-type(1) {
  grid-row: span 2/span 2;
  height: 400px;
}
.news__ct--content .card:nth-of-type(1)::before {
  background-image: url("/assets/img/blog/blog-1.webp");
}
.news__ct--content .card:nth-of-type(1) .card__img {
  height: auto;
}
.news__ct--content .card:nth-of-type(2) .card__img::before {
  background-image: url("/assets/img/blog/blog-2.webp");
  background-size: cover;
}
.news__ct--content .card:nth-of-type(3) {
  grid-column-start: 2;
  grid-row-start: 2;
}
.news__ct--content .card:nth-of-type(3) .card__img::before {
  background-image: url("/assets/img/blog/blog-3.webp");
  background-size: cover;
}
.news__ct--content .card:nth-of-type(4) {
  grid-column-start: 3;
  grid-row-start: 2;
}
.news__ct--content .card:nth-of-type(4) .card__img::before {
  background-image: url("/assets/img/blog/blog-5.webp");
  background-size: cover;
  background-position: center;
}
.news__ct--content .card:nth-of-type(5) {
  grid-column-start: 3;
  grid-row-start: 1;
}
.news__ct--content .card:nth-of-type(5)::before {
  background-image: url("/assets/img/blog/blog-4.webp");
}
.news__ct--content .card:nth-of-type(5) .card__caption .card__caption--ico {
  color: #fff;
}
.news__ct--content .card:nth-of-type(1) .card__caption, .news__ct--content .card:nth-of-type(5) .card__caption {
  background-color: transparent;
}

.cars__ct--content .swiper__ct .card {
  padding: 4rem;
  display: flex;
  align-items: center;
}
.cars__ct--content .swiper__ct .card__img img {
  margin-bottom: auto;
  max-width: 768px;
  width: 100%;
}
.cars__ct--content .swiper__ct .card__caption {
  margin-top: auto;
}

.userjoin__ct .card-wrapper {
  position: relative;
  z-index: 1;
}
.userjoin__ct .card-wrapper::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.userjoin__ct .card-wrapper::before {
  background-image: url("/assets/img/background/background-2.webp");
  background-size: cover;
}
.userjoin__ct .card-wrapper .card .card-img {
  padding: 1rem;
  display: flex;
  border: 0.3rem solid #fff;
  border-radius: 1rem;
}
.userjoin__ct .card-wrapper .card .card-img img {
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
  -webkit-user-select: none;
          user-select: none; /* Para navegadores que suportam */
  -webkit-user-drag: none; /* Para navegadores baseados em WebKit */
  -moz-user-select: none; /* Para Firefox */
  pointer-events: none; /* Para desativar eventos de mouse */
}
.userjoin__ct .card-wrapper .card .card-caption {
  color: #fff;
}
.userjoin__ct .card-wrapper .card .card-caption .title {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 2.5rem);
}

.template__ct {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}
.template__ct .caption {
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
  outline: 0.2rem solid #0000FF;
  padding: 4rem;
  border-radius: 0.2rem;
}
.template__ct .caption::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.template__ct .caption::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.template__ct .caption::before {
  background-image: url("/assets/img/background/background-3.webp");
  background-size: cover;
  background-position: center;
  filter: brightness(40%);
}
.template__ct .caption::after {
  transition: 0.3s linear, filter 0.3s linear;
}
.template__ct .caption:hover::after {
  background-color: hsla(240, 35%, 25%, 0.6);
  filter: brightness(50%);
}
.template__ct .caption .title {
  font-size: 1.5rem;
}

.collection__ct--content .card {
  cursor: pointer;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}
.collection__ct--content .card iframe {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.collection__ct--content .card__img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.collection__ct--content .card__video--cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Ajuste para centralização */
  color: rgba(255, 255, 255, 0.5921568627);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  font-size: 4rem;
  transition: 0.2s linear;
}
.collection__ct--content .card__video--cover:hover {
  background-color: rgba(7, 12, 45, 0.5);
  color: #fff;
}
.collection__ct--content .card__video img {
  filter: brightness(50%);
}
.collection__ct--content .card .card__caption--title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sponsors__ct {
  background-color: #0000FF;
}
.sponsors__ct img {
  width: 200px;
}

footer {
  background-color: #0000FF;
  color: #fff;
}
footer .nav-list {
  text-transform: uppercase;
}
footer .nav-list .ico {
  font-size: 1.5rem;
}
footer .nav-list .nav-link:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .navbar {
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    position: relative;
    overflow-x: hidden;
  }
  .navbar .nav-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .nav-list {
    display: flex;
  }
  .navbar .nav-list .nav-li {
    padding: 1rem;
  }
  .navbar .nav-list .nav-li:hover .chev-ico {
    transition: all 0.3s ease-out;
    rotate: 180deg;
  }
  .navbar .nav-list .nav-li:hover .dropdown {
    transform: translateX(0px);
  }
  .navbar .nav-list .nav-li .dropdown {
    padding: 2rem 4rem;
    width: 100%;
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2rem;
    transform: translateX(5000px);
    background-color: #000050;
    left: 0;
    top: 100%;
    z-index: 8;
  }
  .navbar .nav-list .nav-li .dropdown .droplink {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 0.1rem solid #fff;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #000050;
  }
  .navbar .nav-list .nav-li .dropdown .droplink:hover {
    background-color: #191963;
  }
  .navbar .nav-list .nav-li.sign-container {
    width: 15rem;
    position: relative;
    margin-left: auto;
    background-color: #121A38;
    color: #fff;
  }
  .navbar .nav-list .nav-li.sign-container .dropdown {
    width: 100%;
    padding: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    background-color: #121A38;
  }
  .navbar .nav-list .nav-li.sign-container .dropdown .droplink {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 0.6rem;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .navbar .nav-list .nav-li.sign-container .dropdown .droplink:hover {
    background-color: #fff;
    color: #121A38;
  }
  .navbar .nav-list .nav-caption,
  .navbar .nav-list .nav-dropdown {
    display: none;
  }
  .news__ct {
    position: relative;
    z-index: 1;
  }
  .news__ct::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -2;
  }
  .news__ct::before {
    background-image: url("/assets/img/background/background-1.webp");
    background-size: cover;
  }
  .news__ct--content {
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 12fr 7fr 7fr;
    grid-template-rows: max(12rem, 18vw) min(8rem, 12vw);
  }
  .news__ct--content .card {
    display: grid;
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: auto;
  }
  .news__ct--content .card::before {
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
  }
  .news__ct--content .card__img {
    width: 100%;
    height: 100%;
  }
  .news__ct--content .card__caption--title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .news__ct--content .card__caption--text {
    font-size: 0.8rem;
  }
  .news__ct--content .card:nth-of-type(1) {
    grid-row: span 2/span 2;
    height: auto;
  }
  .news__ct--content .card:nth-of-type(3) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .news__ct--content .card:nth-of-type(4) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  .news__ct--content .card:nth-of-type(5) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .userjoin__ct .card-wrapper {
    padding: 4rem 0;
  }
  .userjoin__ct .card-wrapper .card {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}
@media (min-width: 768px) {
  .cars__ct .slider-card .caption {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */