@import './reset/reset.css';

$primaryColor: #0000FF;
$secondaryColor: #ed0101;
$accentColor: #000050;
$light: #fff;
$dark: #111;
$titleDesk: max(.6rem, 1.4vw);
$textDesk: max(.5rem, 1.2vw);
$miscDesk: max(.5rem, 1vw);
$transition: 0.3s linear, filter 0.3s linear;

.card{
  cursor: pointer;
}

.pdef {
  padding: 1rem;

  &-x {
    padding: 0 1rem 0 1rem;
  }

  &-y {
    padding: 1rem 0 1rem 0;
  }
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

@mixin pseudo-before() {
  position: relative;
  z-index: 1;

  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -2;
  }
}

@mixin pseudo-after() {
  position: relative;
  z-index: 1;

  &::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

@mixin text-dots($dots) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $dots;
  overflow: hidden;
}


.header-caption {
  @include pseudo-before();
  background-color: $primaryColor;
  border-top: .2rem solid $primaryColor;

  & .title {
    flex: 1;
    font-size: 1.6rem;
    font-style: italic;
  }

  & img {
    max-width: 600px;
    width: 100%;
    height: 20px;
  }

  &-white {

    color: $primaryColor;
    border: none;
    background-color: $light;
  }

  &-blue {
    background-color: $primaryColor;
    color: $light;
  }
}

.btn-watch {
  padding: 1rem;
  width: fit-content;
  background-color: transparent;
  outline: .05rem solid $light;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

.btn-discover {
  cursor: pointer;
  width: fit-content;
  padding: .8rem 2rem;
  background-color: $primaryColor;
  color: $light;
  text-align: center;
  border-radius: 20rem;
  text-transform: uppercase;

  &:hover {
    background-color: hsla(230, 93%, 58%, 0.9);
    color: $light;
  }
}

.cookies__ct {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: .2rem;
  background-color: $light;
  z-index: 9;
  border: .1rem solid $primaryColor;
  & .cookies__caption{
    &--title {
      max-width: 562px;
      margin: 0 auto;
      font-size: 1rem;
      font-weight: 400;
    }
    & .btn__handler {
      width: min(6rem);
      cursor: pointer;
      border-radius: .2rem;
      background-color: $light;
      color: $primaryColor;
      border: .1rem solid $primaryColor;
      font-weight: 500;
      &:hover{
        background-color: $primaryColor;
        color: $light;
      }
    }
  }
}

// <!-- ------------------------------ Header -------------------------- -->
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo,
  .nav-toggle {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  & .nav-list {
    display: none;

    &.active {
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      width: 100%;
      position: fixed;
      height: 100dvh;
      background-color: $primaryColor;
      color: $light;
      z-index: 8;
      top: 0;

      & .navbar-caption {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }

      & .nav-li,
      & .sign-container {
        padding: 2rem 0 1rem 0;
        border-bottom: 1px solid $light;

        &>* {
          font-weight: bold;
        }

        & .chev-ico {
          transform: rotate(-90deg);
        }

        & .dropdown {
          display: none;

          & .btn-close {
            cursor: pointer;
            font-size: 1.6rem;
            margin-bottom: 2rem;
          }

          &.active {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100dvh;
            position: absolute;
            gap: 1rem;
            top: 0;
            left: 0;
            z-index: 9;
            background-color: $accentColor;

            & .droplink {
              display: flex;
              justify-content: center;
              padding: 1rem 0;
              outline: 1px solid $light;
            }
          }
        }
      }
    }

    & .nav-hide {
      display: none;
    }
  }
}

// <!-- ------------------------------ News -------------------------- -->
.news__ct {
  @include pseudo-before();

  &::before {
    background-image: url('/assets/img/background/background-2.webp');
    background-size: cover;
  }

  &--content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .card {
      @include pseudo-before();
      display: grid;
      border-radius: .6rem;
      overflow: hidden;
      box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
      height: 160px;

      &:hover .card__caption .card__caption--title{
        text-decoration: underline;
      }

      &::before {
        background-size: cover;
        background-position: center;
        filter: brightness(80%);
      }

      &__img {
        @include pseudo-before();
        width: 100%;
        height: 100%;
      }

      &__caption {
        padding: 1rem;
        background-color: $light;
        &--title {
          font-size: 1.2rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          /* Limita a duas linhas */
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &--text {
          font-size: .9rem;
        }

        &--ico{
          color: $primaryColor;
          width: 18ppx;
          height: 18px;
        }
      }
    }

    & .card:nth-of-type(1) {
      grid-row: span 2 / span 2;
      height: 400px;

      &::before {
        background-image: url('/assets/img/blog/blog-1.webp');
      }

      & .card__img {
        height: auto;
      }
    }

    & .card:nth-of-type(2) {
      & .card__img {
        &::before {
          background-image: url('/assets/img/blog/blog-2.webp');
          background-size: cover;
        }
      }
      & .card__caption{

      }
    }

    & .card:nth-of-type(3) {
      grid-column-start: 2;
      grid-row-start: 2;

      & .card__img {
        &::before {
          background-image: url('/assets/img/blog/blog-3.webp');
          background-size: cover;
        }
      }
    }

    & .card:nth-of-type(4) {
      grid-column-start: 3;
      grid-row-start: 2;

      & .card__img {
        &::before {
          background-image: url('/assets/img/blog/blog-5.webp');
          background-size: cover;
          background-position: center;
        }
      }

    }

    & .card:nth-of-type(5) {
      grid-column-start: 3;
      grid-row-start: 1;

      &::before {
        background-image: url('/assets/img/blog/blog-4.webp');
      }
      
      & .card__caption{
        & .card__caption--ico{
          color: $light;
        }
      }
    }

    & .card:nth-of-type(1), & .card:nth-of-type(5){
      & .card__caption{
        background-color: transparent;
      }
    }
  }
}

// <!-- ------------------------------ cars slider -------------------------- -->
.cars__ct {
 &--content{
& .swiper__ct{
  & .card{
    padding: 4rem;
    display: flex;
    align-items: center;
    &__img img{
      margin-bottom: auto;
      max-width: 768px;
      width: 100%;
    }
    &__caption{
      margin-top: auto
    }
  }
}
 }
}

// <!-- ------------------------------ userjoin -------------------------- -->
.userjoin__ct {
  & .card-wrapper {
    @include pseudo-before();

    &::before {
      background-image: url('/assets/img/background/background-2.webp');
      background-size: cover;
    }

    & .card {
      & .card-img {
        padding: 1rem;
        display: flex;
        border: .3rem solid $light;
        border-radius: 1rem;

        & img {
          border-radius: 1rem;
          box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px 0px;
          user-select: none; /* Para navegadores que suportam */
          -webkit-user-drag: none; /* Para navegadores baseados em WebKit */
          -moz-user-select: none; /* Para Firefox */
          pointer-events: none; /* Para desativar eventos de mouse */
        }
      }

      & .card-caption {
        color: $light;

        & .title {
          font-size: clamp(1.2rem, 2vw +  0.5rem, 2.5rem);
        }
      }
    }
  }
}

// <!-- ------------------------------ template -------------------------- -->
.template__ct {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: $light;

  & .caption {
    @include pseudo-before();
    @include pseudo-after();
    outline: .2rem solid $primaryColor;
    padding: 4rem;
    border-radius: .2rem;

    &::before {
      background-image: url('/assets/img/background/background-3.webp');
      background-size: cover;
      background-position: center;
      filter: brightness(40%);
    }

    &::after {
      transition: $transition;
    }

    &:hover::after {
      background-color: hsla(240, 35%, 25%, 0.6);
      filter: brightness(50%);
    }

    & .title {
      font-size: 1.5rem;
    }
  }
}

// <!-- ------------------------------ collection -------------------------- -->
.collection__ct{
  &--content{
    & .card{
      border-radius: .6rem;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;

      & iframe{
        width: 100%;
       position: absolute;
       left: 0;
       bottom: 0;
       z-index: -1;
      }
       &__img{
         & img{
          width: 100%;
          aspect-ratio: 16/9;
          object-fit: cover;
        }
      }
        &__video{
          &--cover{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Ajuste para centralização */
            color: #ffffff97;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0);
            font-size: 4rem;
            transition: .2s linear;
            &:hover{
              background-color: rgba(7, 12, 45, 0.5);
              color: $light;
            }
          }
          & img{
            filter: brightness(50%);
          }
        }
      & .card__caption{
        &--title{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

// <!-- ------------------------------ sponsors -------------------------- -->
.sponsors__ct {
  background-color: $primaryColor;
  & img {
    width: 200px;
  }
}

// <!-- ------------------------------ footer -------------------------- -->
footer {
  background-color: $primaryColor;
  color: $light;

  & .nav-list {
    text-transform: uppercase;

    & .ico {
      font-size: 1.5rem;
    }

    & .nav-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 1024px) {

  .navbar {
    display: grid;
    align-items: center;
    grid-template-columns: 400px 1fr;
    position: relative;
    overflow-x: hidden;

    & .nav-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    & .nav-list {
      display: flex;

      & .nav-li {
        padding: 1rem;

        &:hover .chev-ico {
          transition: all .3s ease-out;
          rotate: 180deg;
        }

        &:hover .dropdown {
          transform: translateX(0px);
        }

        & .dropdown {
          padding: 2rem 4rem;
          width: 100%;
          position: absolute;
          display: grid;
          grid-auto-flow: column;
          grid-auto-columns: 1fr;
          gap: 2rem;
          transform: translateX(5000px);
          background-color: $accentColor;
          left: 0;
          top: 100%;
          z-index: 8;

          & .droplink {
            display: flex;
            justify-content: center;
            padding: 1rem;
            border: .1rem solid $light;
            font-weight: bold;
            font-size: 1.1rem;
            background-color: $accentColor;

            &:hover {
              background-color: #191963;
            }
          }
        }

        &.sign-container {
          width: 15rem;
          position: relative;
          margin-left: auto;
          background-color: #121A38;
          color: $light;

          & .dropdown {
            width: 100%;
            padding: 1rem;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 1rem;
            background-color: #121A38;

            & .droplink {
              width: 100%;
              padding: .5rem 1rem;
              background-color: transparent;
              border-radius: .6rem;
              white-space: nowrap;
              font-size: .8rem;

              &:hover {
                background-color: $light;
                color: #121A38;
              }
            }
          }
        }
      }

      & .nav-caption,
      .nav-dropdown {
        display: none;
      }
    }
  }

  .news__ct {
    @include pseudo-before();
    &::before {
      background-image: url('/assets/img/background/background-1.webp');
      background-size: cover;
    }

    &--content {
      padding: 4rem 2rem;
      display: grid;
      grid-template-columns: 12fr 7fr 7fr;
      grid-template-rows: max(12rem, 18vw) min(8rem, 12vw);

      & .card {
        display: grid;
        border-radius: .6rem;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;

        &::before {
          background-size: cover;
          background-position: center;
          filter: brightness(80%);
        }

        &__img {
          width: 100%;
          height: 100%;
        }

        &__caption {
          &--title {
            font-size: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &--text {
            font-size: .8rem;
          }
        }
      }

      & .card:nth-of-type(1) {
        grid-row: span 2 / span 2;
        height: auto;
      }
      

      & .card:nth-of-type(3) {
        grid-column-start: 2;
        grid-row-start: 2;
      }

      & .card:nth-of-type(4) {
        grid-column-start: 3;
        grid-row-start: 2;
      }

      & .card:nth-of-type(5) {
        grid-column-start: 3;
        grid-row-start: 1;
      }
    }
  }

  .userjoin__ct {
    & .card-wrapper {
      padding: 4rem 0;

      & .card {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;

      }
    }

  }


}

@media (min-width: 768px) {
  .cars__ct {
    & .slider-card {
      & .caption {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

}
